# Don't modify this file, it is only needed for the pipeline to set the image and ingressHost
nodejs:
  image: https://hmcts.azurecr.io/hmcts/juror-bureau:latest
  ingressHost: 
  environment:
    API_ENDPOINT: https://juror-api.staging.platform.hmcts.net/api/v1
    CALLBACK_URL: https://juror.staging.apps.hmcts.net/auth/internal/callback
    LOGOUT_REDIRECT: https://juror.staging.apps.hmcts.net
    SKIP_SSO: true
