nodejs:
  # Don't modify below here
  image: https://hmcts.azurecr.io/hmcts/et-syr:latest
  ingressHost: 
  devmemoryLimits: 1024Mi
  devmemoryRequests: 512Mi
  environment:
    OAUTH_CLIENT_REDIRECT: https:///oauth2/callback
    # Temporary until the redis cache is changed over in the base chart
    REDIS_HOST: 'et-sya-session-storage-aat.redis.cache.windows.net'
  keyVaults:
    et:
      resourceGroup: et
      secrets:
        - AppInsightsInstrumentationKey
        - idam-secret
        - redis-access-key
        - os-places-token
        - pcq-token-key
        - launch-darkly-sdk-key
idam-pr:
  enabled: false
