nodejs:
  image: hmctspublic.azurecr.io/probate/frontend:latest
  ingressHost: probate.{{ .Values.global.environment }}.platform.hmcts.net
  cpuLimits: 500m
  cpuRequests: 100m
  autoscaling:        # Default is false
    enabled: true
    maxReplicas: 5    # Required setting
    targetCPUUtilizationPercentage: 80 # Default is 80% target CPU utilization
  aadIdentityName: probate
  additionalPathBasedRoutes:
    "/caveats": "probate-caveats-fe-nodejs"
  applicationPort: 3000
  environment:
    PUBLIC_PROTOCOL: https
    REFORM_TEAM: probate
    REFORM_SERVICE_NAME: probate-frontend
    IDAM_CLIENT_NAME: probate
    IDAM_LOGIN_URL: https://idam-web-public.{{ .Values.global.environment }}.platform.hmcts.net/login
    IDAM_API_URL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
    IDAM_S2S_URL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    PAYMENT_API_URL: http://payment-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    VALIDATION_SERVICE_URL: http://probate-business-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/validate
    ORCHESTRATOR_SERVICE_URL: http://probate-orchestrator-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    FEES_REGISTRY_URL: http://fees-register-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/fees-register
    REFORM_ENVIRONMENT : '{{ .Values.global.environment }}'
    REDIS_HOST: probate-frontend-redis-cache-{{ .Values.global.environment }}.redis.cache.windows.net
    REDIS_PORT: 6380
    USE_REDIS: true
    REDIS_USE_TLS: true
    USE_IDAM: true
    REQUIRE_CCD_CASE_ID : true
    EQUALITY_URL: https://pcq.aat.platform.hmcts.net
    VAR_INC: trigger-1
  keyVaults:
    probate:
      resourceGroup: probate
      secrets:
        - name: frontend-redis-access-key
          alias: frontend-redis-access-key
        - name: idam-s2s-secret
          alias: idam-s2s-secret
        - name: ccidam-idam-api-secrets-probate
          alias: ccidam-idam-api-secrets-probate
        - name: postcode-service-url
          alias: postcode-service-url
        - name: postcode-service-token2
          alias: postcode-service-token2
        - name: probate-survey
          alias: probate-survey
        - name: probate-survey-end
          alias: probate-survey-end
        - name: probate-service-id
          alias: probate-service-id
        - name: probate-site-id
          alias: probate-site-id
        - name: payCaseWorkerUser
          alias: payCaseWorkerUser
        - name: payCaseWorkerPass
          alias: payCaseWorkerPass
        - name: app-insights-connection-string
          alias: app-insights-connection-string
        - name: launchdarkly-key
          alias: launchdarkly-key
        - name: launchdarklyUserkeyFrontend
          alias: launchdarklyUserkeyFrontend
        - name: pcq-token-key
          alias: pcq-token-key
        - name: webchat-kerv-deployment-en
          alias: webchat-kerv-deployment-en
        - name: webchat-kerv-deployment-cy
          alias: webchat-kerv-deployment-cy
        - name: webchat-kerv-genesys-base-url
          alias: webchat-kerv-genesys-base-url
        - name: webchat-kerv-environment
          alias: webchat-kerv-environment
        - name: webchat-kerv-kerv-base-url
          alias: webchat-kerv-kerv-base-url
        - name: webchat-kerv-api-key
          alias: webchat-kerv-api-key

redis:
  enabled: false
  architecture: standalone
  image:
    registry: hmctspublic.azurecr.io
    repository: imported/bitnami/redis
  master:
    persistence:
      enabled: false
  auth:
    enabled: false
idam-pr:
  enabled: false
