java:
  releaseNameOverride: ${SERVICE_NAME}
  image: ${IMAGE_NAME}
  replicas: 1
  ingressHost: ${SERVICE_FQDN}
  ingressIP: ${INGRESS_IP}
  consulIP: ${CONSUL_LB_IP}
  environment:
    TESTING_SUPPORT_ENABLED: true
    IDAM_SCHEDULED_BATCHPROCESSING_INITIALPROCESSOR: ${IMAGE_NAME}
    IDAM_SCHEDULED_BATCHPROCESSING_INITIALDELAY: 180000
    IDAM_SCHEDULED_BATCHPROCESSING_FIXEDDELAY: 360000
    IDAM_REGISTRATION_APPOINTDOMAINREGEX_0: idam\.sso
    IDAM_REGISTRATION_APPOINTDOMAINREGEX_1: ejudiciary\.net
    IDAM_S2S_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
    LOG_AND_AUDIT_IDAM_URL: http://lau-idam-backend-aat.service.core-compute-aat.internal
    LOG_AND_AUDIT_IDAM_ENABLED: true
    IDAM_RATELIMIT_PASSWORDGRANT_ENABLED: true
    FEATUREFLAGS_NOTIFYONUSEREMAILUPDATED: true
  devApplicationInsightsInstrumentKeyName: DUMMY_APPLICATIONINSIGHTS_DUMMYKEY
  devApplicationInsightsInstrumentKey: '00000001-0001-0001-0001-000000000001'
