java:
  environment:
    DELETE_DISPATCHED_FILES_CRON: "0/10 * * * * *"
    SEND_NOTIFICATIONS_CRON: "0/10 * * * * *"
    FLYWAY_SKIP_MIGRATIONS: false
    STORAGE_URL: https://reformscanstg.aat.platform.hmcts.net
    NOTIFICATIONS_QUEUE_NAME: "notifications-staging"
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  devApplicationInsightsInstrumentKey: "fb929548-3309-4933-bd6e-f7932b4e0309"
  keyVaults:
    reform-scan:
      resourceGroup: reform-scan
      secrets:
        - name: app-insights-instrumentation-key
          alias: azure.application-insights.instrumentation-key
        - name: reports-email-username
          alias: SMTP_USERNAME
        - name: reports-email-password
          alias: SMTP_PASSWORD
        - name: reform-reports-recipients
          alias: REPORTS_RECIPIENTS
        - name: reconciliation-api-key
          alias: RECONCILIATION_API_KEY
        - name: reconciliation-report-api-key
          alias: RECONCILIATION_REPORT_API_KEY
        - name: s2s-secret-blob-router
          alias: S2S_SECRET
        - name: reconciliation-report-recipients
          alias: RECONCILIATION_REPORT_RECIPIENTS
        - name: storage-account-staging-name
          alias: storage.account-name
        - name: storage-account-staging-primary-key
          alias: storage.account-key
        - name: storage-account-staging-secondary-key
          alias: storage.account-secondary-key
        - name: crime-storage-connection-string
          alias: storage.crime.connection-string
        - name: blob-router-staging-db-password
          alias: DB_PASSWORD
        - name: blob-router-staging-db-user
          alias: DB_USER
        - name: blob-router-staging-db-host
          alias: DB_HOST
        - name: blob-router-staging-db-port
          alias: DB_PORT
        - name: blob-router-staging-db-name
          alias: DB_NAME
        - name: notification-staging-queue-send-shared-access-key
          alias: NOTIFICATIONS_QUEUE_SEND_ACCESS_KEY
