java:
  aadIdentityName: finrem
  ingressHost: "finrem-emca-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
  applicationPort: '4006'
  image: 'hmctspublic.azurecr.io/finrem/emca:latest'
  environment:
    IDAM_API_URL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
    AUTH_PROVIDER_SERVICE_CLIENT_BASEURL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    DOCUMENT_MANAGEMENT_STORE_URL: http://dm-store-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal

  keyVaults:
    finrem:
      secrets:
        - finrem-doc-s2s-auth-secret
        - AppInsightsInstrumentationKey
