java:
    # Don't modify below here
  image: https://hmcts.azurecr.io/hmcts/rd-user-profile-api:latest
  ingressHost: 
  environment:
    POSTGRES_HOST: rd-user-profile-api-postgres-db-v11-{{ .Values.global.environment }}.postgres.database.azure.com
    POSTGRES_USERNAME: dbuserprofile@rd-user-profile-api-postgres-db-v11-{{ .Values.global.environment }}