java:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  readinessDelay: 45
  keyVaults:
    em-hrs-api:
      secrets:
        - name: idam-system-user-name
          alias: HRS_SYSTEM_USER
        - name: idam-system-user-password
          alias: HRS_SYSTEM_USER_PASSWORD
        - name: microservicekey-em-hrs-api
          alias: S2S_KEY
  secrets:
    CVP_BLOB_ACCOUNT_NAME:
      secretRef: storage-account-cvp-{{ .Release.Name }}
      key: storage_account_name
    CVP_BLOB_ACCESS_KEY:
      secretRef: storage-secret-cvp-{{ .Release.Name }}
      key: accessKey
    HRS_BLOB_ACCOUNT_NAME:
      secretRef: storage-account-hrs-{{ .Release.Name }}
      key: storage_account_name
    HRS_BLOB_ACCESS_KEY:
      secretRef: storage-secret-hrs-{{ .Release.Name }}
      key: accessKey
  environment:
    HRS_CVP_DEST_CONTAINER_NAME: hrs-cvp
    CVP_STORAGE_CONTAINER_NAME: cvp
    SPRING_DATASOURCE_URL: jdbc:postgresql://{{ .Release.Name }}-{{ .Values.postgresql.nameOverride}}:5432/javadatabase?ssl=disable
    SPRING_DATASOURCE_USERNAME: "{{ .Values.postgresql.postgresqlUsername}}"
    SPRING_DATASOURCE_PASSWORD: "{{ .Values.postgresql.postgresqlPassword}}"
    OPEN_ID_API_BASE_URI: https://idam-web-public.aat.platform.hmcts.net/o
    ENABLE_DB_MIGRATE: true
    RUN_DB_MIGRATION_ON_STARTUP: true
    CVP_STORAGE_CONNECTION_STRING: "DefaultEndpointsProtocol=https;AccountName=$(CVP_BLOB_ACCOUNT_NAME);AccountKey=$(CVP_BLOB_ACCESS_KEY);EndpointSuffix=core.windows.net"
    STORAGEACCOUNT_PRIMARY_CONNECTION_STRING: "DefaultEndpointsProtocol=https;AccountName=$(HRS_BLOB_ACCOUNT_NAME);AccountKey=$(HRS_BLOB_ACCESS_KEY);EndpointSuffix=core.windows.net"
  postgresql:
    enabled: true
    auth:
      username: emhrs
      password: emhrs

cvpblobstorage:
  enabled: true
  resourceGroup: em-aso-preview-rg
  releaseNameOverride: cvp-{{ .Release.Name }}
  teamName: "EM"
  location: uksouth
  setup:
    containers:
      - cvp

hrsblobstorage:
  enabled: true
  resourceGroup: em-aso-preview-rg
  releaseNameOverride: hrs-{{ .Release.Name }}
  teamName: "EM"
  location: uksouth
  setup:
    containers:
      - hrs-cvp
