java:
  environment:
    RUN_DB_MIGRATION_ON_STARTUP: true

    SPRING_DATASOURCE_URL: "jdbc:postgresql://{{ .Release.Name }}-postgresql:5432/{{ .Values.postgresql.postgresqlDatabase}}?gssEncMode=disable"
    SPRING_DATASOURCE_USERNAME: "{{ .Values.postgresql.postgresqlUsername}}"
    SPRING_DATASOURCE_PASSWORD: "{{ .Values.postgresql.postgresqlPassword}}"

    SERVICE_BUS_QUEUE_NAME: ctsc-work-allocation-queue-preview
    DEEPLINK_BASE_URL: https://manage-case.aat.platform.hmcts.net/case/
    TEST_ENDPOINTS_ENABLED: true
    SMTP_ENABLED: true
    CCD_DRY_RUN: false
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  postgresql:
    enabled: true
