# Don't modify this file, it is only needed for the pipeline to set the image and ingressHost
java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    BULKSCAN_API_URL: "http://ccpay-bulkscanning-api-aat.service.core-compute-aat.internal"
