nodejs:
  applicationPort: 4000
  aadIdentityName: hmc
  ingressHost: hmc-judicial-payment-frontend.{{ .Values.global.environment }}.platform.hmcts.net
  image: 'hmctspublic.azurecr.io/hmc/judicial-payment-frontend:latest'
  #  Uncomment once the vault containing the app insights key has been set up
  #  keyVaults:
  #    rpe:
  #      secrets:
  #        - AppInsightsInstrumentationKey
  environment:
