java:
  devmemoryLimits: '3Gi'
  devmemoryRequests: '3Gi'
  postgresql:
    enabled: true
    primary:
      initdb:
        user: "postgres"
        scripts:
          init.sql: |-
            CREATE EXTENSION IF NOT EXISTS pgcrypto;
            CREATE EXTENSION IF NOT EXISTS pg_trgm;
  environment:
    RUN_DB_MIGRATION_ON_STARTUP: true
    POSTGRES_HOST: "{{ .Release.Name }}-postgresql"
    POSTGRES_DATABASE: "{{ .Values.postgresql.auth.database}}"
    POSTGRES_USER: "{{ .Values.postgresql.auth.username}}"
    POSTGRES_PASSWORD: "{{ .Values.postgresql.auth.password}}"
    TESTING_SUPPORT_ENDPOINTS_ENABLED: true
    APIM_ENABLED: false
    PLATFORM_ENV_TAG: Staging
    AZURE_INGEST_SA: preingestsastg
    AZURE_FINAL_SA: prefinalsastg
    AZURE_VF_SA: prevodasastg
    ENABLE_AUTOMATED_EDITING: true
    ENABLE_ENHANCED_PROCESSING: true
    ENABLE_NULL_DURATION_UPSERT: true
    ENABLE_MIGRATED_DATA: false
    MEDIA_KIND_SUBSCRIPTION: pre-mkio-stg
    MEDIA_KIND_SUBSCRIPTION_ID: 36a78cf2-290d-4621-b974-eda4a570ef70
    MEDIA_KIND_STREAMING_ENDPOINT_ADVANCED_SETTINGS_NAME: ap-jitp-hmcts-disable-edge-buffer
    MEDIA_KIND_VOD_STREAMING_ENDPOINT: vod
    MEDIA_KIND_LIVE_STREAMING_ENDPOINT: live
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
