nodejs:
  applicationPort: 3100
  aadIdentityName: cui
  ingressHost: cui-ra.{{ .Values.global.environment }}.platform.hmcts.net
  spotInstances:
    enabled: true
  image: 'hmctspublic.azurecr.io/cui/ra:latest'
  #  Uncomment once the vault containing the app insights key has been set up
  readinessDelay: 45
  readinessTimeout: 5
  readinessPeriod: 15
  livenessDelay: 45
  livenessTimeout: 5
  livenessPeriod: 15
  keyVaults:
    cui:
      secrets:
        - app-insights-connection-string
        - s2s-secret
        - redis-access-key
  environment:
    DEMO_ENABLED: 'false'
    ENV_INSTANCE: '{{ .Values.global.environment }}'
    REDIS_HOST: cui-ra-{{ .Values.global.environment }}.redis.cache.windows.net
    REDIS_PORT: 6380
    SERVICES_REFDATA_ENDPOINT: http://rd-commondata-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    SERVICES_S2S_ENDPOINT: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    S2S_ALLOWED_SERVICES:
      - prl_citizen_frontend
