nodejs:
    devmemoryRequests: 512Mi
    devcpuRequests: 300m
    devmemoryLimits: 1024Mi
    # Don't modify below here
    image: https://hmcts.azurecr.io/hmcts/pip-frontend:latest
    ingressHost: 
    environment:
        EXCLUDE_E2E: false
        AUTH_RETURN_URL: https:///login/return
        MEDIA_VERIFICATION_RETURN_URL: https:///media-verification/return
        FRONTEND_URL: https://
        SESSION_COOKIE_SAME_SITE: ''
        CRIME_IDAM_URL: https://login.prp.cjscp.org.uk
