nodejs:
  environment:
    REDIS_HOST: ${SERVICE_NAME}-redis-master
    REDIS_PORT: 6379
    REDIS_USE_TLS: false
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}

redis:
  enabled: true
  auth:
    enabled: false
  image:
    tag: latest
  master:
    podAnnotations:
      admission.dynatrace.com/inject: "false"

tags:
  pr: true
