java:
  image: 'hmctspublic.azurecr.io/ethos/ecm-consumer:latest'
  applicationPort: 8085
  ingressHost: ethos-ecm-consumer-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  keyVaults:
    ethos-shared:
      resourceGroup: ethos
      secrets:
        - name: app-insights-connection-string
          alias: app-insights-connection-string
        - name: ecm-consumer-s2s-key
          alias: ECM_CONSUMER_S2S_KEY
        - name: caseworker-user-name
          alias: CASEWORKER_USER_NAME
        - name: caseworker-password
          alias: CASEWORKER_PASSWORD
        - name: create-updates-queue-send-connection-string
          alias: CREATE_UPDATES_QUEUE_SEND_CONNECTION_STRING
        - name: create-updates-queue-listen-connection-string
          alias: CREATE_UPDATES_QUEUE_LISTEN_CONNECTION_STRING
        - name: update-case-queue-send-connection-string
          alias: UPDATE_CASE_QUEUE_SEND_CONNECTION_STRING
        - name: update-case-queue-listen-connection-string
          alias: UPDATE_CASE_QUEUE_LISTEN_CONNECTION_STRING
        - name: idam-client-secret
          alias: IDAM_CLIENT_SECRET
        - name: ecm-consumer-postgres-user-v15
          alias: ECM_CONSUMER_POSTGRES_USER
        - name: ecm-consumer-postgres-password-v15
          alias: ECM_CONSUMER_POSTGRES_PASSWORD
        - name: ecm-consumer-postgres-host-v15
          alias: ECM_CONSUMER_POSTGRES_HOST
        - name: ecm-consumer-postgres-port-v15
          alias: ECM_CONSUMER_POSTGRES_PORT
  aadIdentityName: ethos
  environment:
    REFORM_TEAM: ethos
    REFORM_SERVICE_NAME: ecm-consumer
    REFORM_SERVICE_TYPE: java
    REFORM_ENVIRONMENT: preview
    ROOT_LOGGING_LEVEL: INFO
    LOG_OUTPUT: single
    ECM_CONSUMER_URL: "http://ethos-ecm-consumer-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
    IDAM_API_URL: "https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net"
    IDAM_API_JWK_URL: "https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net/jwks"
    IDAM_API_OIDC_URL: "https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net/o/token"
    IDAM_CLIENT_REDIRECT_URL: "https://ecm-consumer-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/oauth2redirect"
    SERVICE_AUTH_PROVIDER_URL: "http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
    CCD_DATA_STORE_API_URL: "http://ccd-data-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
    CCD_GATEWAY_BASE_URL: "https://manage-case.{{ .Values.global.environment }}.platform.hmcts.net"
    MICRO_SERVICE: "ecm_consumer"
    ECM_CONSUMER_DB_CONN_OPTIONS: ?sslmode=require
