java:
  postgresql:
    enabled: false
  releaseNameOverride: idam-web-public
  image: hmctspublic.azurecr.io/idam/web-public:preview
  ingressHost: "idam-web-public.service.core-compute-{{ .Values.global.environment }}.internal"
  replicas: 4
  applicationPort: 8080
  aadIdentityName: idam
  readinessPath: /health
  keyVaults:
    "idam-idam":
      resourceGroup: idam-idam
      secrets:
        - name: AppInsightsInstrumentationKey
          alias: azure.application-insights.instrumentation-key
        - name: redis-hostname
          alias: spring.redis.host
        - name: redis-key
          alias: spring.redis.password
        - name: redis-port
          alias: spring.redis.port
        - name: sso-client-id
          alias: spring.security.oauth2.client.registration.oidc.client-id
        - name: sso-client-secret
          alias: spring.security.oauth2.client.registration.oidc.client-secret
  environment:
    STRATEGIC_SERVICE_URL: http://idam-api
    MANAGEMENT_SECURITY_ENABLED: false
    ENDPOINTS_ENABLED: true
    SSL_VERIFICATION_ENABLED: true
    GA_TRACKING_ID: ''

  cpuRequests: '1000m'
  cpuLimits: '2500m'
  memoryRequests: '1024Mi'
  memoryLimits: '2048Mi'

  devmemoryRequests: '768Mi'
  devcpuRequests: '1000m'
  devmemoryLimits: '1536Mi'
  devcpuLimits: '2500m'

global:
  tenantId: "531ff96d-0ae9-462a-8d2d-bec7c0b42082"
  environment: preview
  enableKeyVaults: true