nodejs:
  cpuLimits: 500m
  cpuRequests: 100m
  memoryLimits: 1024Mi
  memoryRequests: 256Mi
  applicationPort: 3100
  aadIdentityName: idam
  ingressHost: hmcts-access.{{ .Values.global.environment }}.platform.hmcts.net
  image: 'hmctspublic.azurecr.io/idam/hmcts-access:latest'
  keyVaults:
    idam-idam:
      secrets:
        - AppInsightsConnectionString
        - launchdarkly-sdk-key
        - hmcts-access-client-secret
        - redis-hostname
        - redis-port
        - redis-key
        - sso-client-id
        - sso-client-secret
        - sso-client-id-moj
        - sso-client-secret-moj
  environment:
    IDAM_API_BASE_URL: 'https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net'
    IDAM_TESTIING_SUPPORT_API_BASE_URL: 'https://idam-testing-support-api.{{ .Values.global.environment }}.platform.hmcts.net'
  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 4
    targetCPUUtilizationPercentage: 80
