java:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    POSTGRES_HOST: "{{ .Release.Name }}-postgresql"
    POSTGRES_DB_NAME: "{{ .Values.postgresql.postgresqlDatabase}}"
    POSTGRES_USERNAME: "{{ .Values.postgresql.postgresqlUsername}}"
    POSTGRES_PASSWORD: "{{ .Values.postgresql.postgresqlPassword}}"
    POSTGRES_PORT: "{{ .Values.postgresql.postgresqlPort}}"
    # LOCATIONS_DB: classpath:db/migration,classpath:db/postgres,classpath:db/migrationAks
    LAUNCH_DARKLY_ENV: "preview"
    ENVIRONMENT_NAME: "preview"
  postgresql:
    enabled: true
    postgresqlUsername: dbcommondata
    postgresqlPassword: dbcommondata
    postgresqlDatabase: dbcommondata
    postgresqlPort: 5432
  keyVaults:
    rd:
      secrets:
        - name: ApplicationInsightsInstrumentationKey
          alias: azure.application-insights.instrumentation-key
        - name: LD-SDK-KEY
          alias: LD_SDK_KEY
        - name: commondata-api-POSTGRES-PASS
          alias: POSTGRES_PASSWORD
       #- name: commondata-api-s2s-secret
       #  alias: COMMONDATA_API_S2S_SECRET
