java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  devcpuRequests: 250m
  devmemoryRequests: 2Gi
  devcpuLimits: 1024m
  devmemoryLimits: 3Gi
  environment:
    ET_COS_DB_HOST: "{{ .Release.Name }}-postgresql"
    ET_COS_DB_NAME: "{{ .Values.postgresql.auth.database}}"
    ET_COS_DB_USER_NAME: "{{ .Values.postgresql.auth.username}}"
    ET_COS_DB_PASSWORD: "{{ .Values.postgresql.auth.password}}"
    ET_COS_DB_CONN_OPTIONS: ""
    EXUI_CASE_DETAILS_URL: "https://manage-case.preview.platform.hmcts.net/cases/case-details/"
    CITIZEN_CASE_DETAILS_URL: "https://et-sya.preview.platform.hmcts.net/citizen-hub/"
    LAUNCH_DARKLY_ENV: ${SERVICE_FQDN}
  keyVaults:
    et-cos:
      secrets:
        - name: Ocp-Apim-Subscription-Key
          alias: ACAS_KEY
        - name: et-cos-s2s-secret
          alias: ET_COS_S2S_SECRET
        - name: cos-system-user
          alias: ET_COS_SYSTEM_USER
        - name: cos-system-user-password
          alias: ET_COS_SYSTEM_USER_PASSWORD
        - name: idam-client-secret
          alias: IDAM_CLIENT_SECRET
    et:
      secrets:
        - name: tornado-access-key
          alias: TORNADO_ACCESS_KEY
        - name: gov-notify-api-key
          alias: GOV_NOTIFY_API_KEY
        - name: launch-darkly-sdk-key
          alias: LAUNCH_DARKLY_SDK_KEY
        - name: app-insights-connection-string
          alias: app-insights-connection-string
  postgresql:
    enabled: true
