java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    ET_COS_DB_HOST: "{{ .Release.Name }}-postgresql"
    ET_COS_DB_NAME: "{{ .Values.postgresql.postgresqlDatabase}}"
    ET_COS_DB_USER_NAME: "{{ .Values.postgresql.postgresqlUsername}}"
    ET_COS_DB_PASSWORD: "{{ .Values.postgresql.postgresqlPassword}}"
    ET_COS_DB_CONN_OPTIONS: ""
  keyVaults:
    et-cos:
      secrets:
        - name: et-cos-s2s-secret
          alias: ET_COS_S2S_SECRET
    et:
      secrets:
        - name: create-updates-queue-send-connection-string
          alias: CREATE_UPDATES_QUEUE_SEND_CONNECTION_STRING
        - name: tornado-access-key
          alias: TORNADO_ACCESS_KEY
  postgresql:
    enabled: true
