java:
  applicationPort: 4553
  image: 'hmctspublic.azurecr.io/lau/eud-backend:latest'
  ingressHost: lau-eud-backend-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  aadIdentityName: lau
  environment:
    LAU_EUD_DB_NAME: lau_eud
    LAU_EUD_DB_HOST: lau-eud-backend-flexible-{{ .Values.global.environment }}.postgres.database.azure.com
    LAU_EUD_DB_PORT: "5432"
    FLYWAY_URL: jdbc:postgresql://lau-eud-backend-flexible-{{ .Values.global.environment }}.postgres.database.azure.com:5432/lau_eud?sslmode=require
    FLYWAY_USER: lauadmin
    FLYWAY_NOOP_STRATEGY: "false"
    LAU_EUD_DB_CONN_OPTIONS: "?sslmode=require"
    LAU_EUD_ENCRYPTION_ENABLED: "Yes"
    LAU_FLYWAY_MIGRATE_DB: "false" # this has to stay false as long as it is enabled in jenkins pipeline
    DB_ALLOW_DELETE_RECORD: "false"
    S2S_URL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    IDAM_API_URL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
    IDAM_CLIENT_NAME: lau
    IDAM_CLIENT_REDIRECT_URL: https://lau-eud-backend-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/oauth2/callback
    RD_PROFESSIONAL_API_URL: http://rd-professional-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    S2S_MICROSERVICE: lau_eud_backend
    LAU_EUD_SERVICEBUS_IDAM_NAMESPACE: idam-servicebus-{{ .Values.global.environment }}
    LAU_EUD_SERVICEBUS_ADD_SUBSCRIPTION: idam-add-user-lau-subscription-{{ .Values.global.environment }}
    LAU_EUD_SERVICEBUS_MODIFY_SUBSCRIPTION: idam-modify-user-lau-subscription-{{ .Values.global.environment }}
    LAU_EUD_SERVICEBUS_REMOVE_SUBSCRIPTION: idam-remove-user-lau-subscription-{{ .Values.global.environment }}
  keyVaults:
    lau:
      resourceGroup: lau
      secrets:
        - name: eud-backend-POSTGRES-USER
          alias: LAU_EUD_DB_ADMIN_USERNAME
        - name: eud-backend-POSTGRES-PASS
          alias: LAU_EUD_DB_ADMIN_PASSWORD
        - name: eud-backend-app-db-user-flexible
          alias: LAU_EUD_DB_USERNAME
        - name: eud-backend-app-db-password
          alias: LAU_EUD_DB_PASSWORD
        - name: eud-backend-POSTGRES-PASS
          alias: flyway.password
        - name: eud-backend-encryption-key
          alias: LAU_EUD_ENCRYPTION_KEY
        - name: idam-client-secret
          alias: IDAM_CLIENT_SECRET
        - name: app-insights-connection-string
          alias: app-insights-connection-string
        - name: lau-system-user-password
          alias: IDAM_CLIENT_PASSWORD
        - name: lau-system-user-username
          alias: IDAM_CLIENT_USERNAME
        - name: s2s-secret-lau-eud-backend
          alias: S2S_SECRET_EUD_BACKEND
