wiremock:
  enabled: true
  image: "wiremock/wiremock"
  applicationPort: 8080
  imagePullPolicy: Always
  releaseNameOverride : ${SERVICE_NAME}-wiremock
  ingressHost: wiremock-${SERVICE_NAME}.preview.platform.hmcts.net
  volumes:
    - name: wiremock-mocks
      configMap:
        name: ${SERVICE_NAME}-wiremock-wm
  volumeMounts:
    - name: wiremock-mocks
      mountPath: /home/wiremock/mappings
      subPath: mappings
  initialMappings:
    health-liveness.json: |
      {
        "request": {
          "method": "GET",
          "url": "/health/liveness"
        },
        "response": {
          "status": 200
        }
      }
    health.json: |
      {
        "request": {
          "method": "GET",
          "url": "/health"
        },
        "response": {
            "status": 200,
            "headers": {
                "Content-Type": "application/json"
            },
            "jsonBody": {
                "status": "OK",
                "components": {}
            }
        }
      }
    readiness.json: |
      {
        "request": {
          "method": "GET",
          "url": "/health/readiness"
        },
        "response": {
          "status": 200
        }
      }
    fee-register-proxy.json: |
      {
        "request": {
          "method": "GET",
          "urlPath": "/fees-register/fees/lookup"
        },
        "response": {
          "proxyBaseUrl": "http://fees-register-api-aat.service.core-compute-aat.internal"
        }
      }

java:
  environment:
    FEES_REGISTER_API_URL: "https://wiremock-${SERVICE_NAME}.preview.platform.hmcts.net"
