java:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  devmemoryRequests: 2048Mi
  devcpuRequests: 2000m
  devmemoryLimits: 4096Mi
  devcpuLimits: 4000m
  environment:
    HMC_SERVICE_BUS_TOPIC: hmc-to-cft
    HMC_SERVICE_BUS_SUBSCRIPTION: hmc-subs-to-cft
    HMC_SERVICE_BUS_QUEUE: hmc-from-hmi
    HMC_OUTBOUND_SERVICE_BUS_QUEUE: hmc-to-hmi
    CFT_HEARING_SERVICE_DB_HOST: "{{ .Release.Name }}-postgresql"
    CFT_HEARING_SERVICE_DB_NAME: "{{ .Values.postgresql.auth.database}}"
    CFT_HEARING_SERVICE_DB_USERNAME: "{{ .Values.postgresql.auth.username}}"
    CFT_HEARING_SERVICE_DB_PASSWORD: "{{ .Values.postgresql.auth.password}}"
    CFT_HEARING_SERVICE_DB_OPTIONS: "?stringtype=unspecified"
    CFT_HEARING_SERVICE_DB_PORT: 5432
    CCD_DATA_STORE_API_BASE_URL: http://ccd-test-stubs-service-aat.service.core-compute-aat.internal
    HMI_BASE_URL: http://ccd-test-stubs-service-aat.service.core-compute-aat.internal/hmi
    HMI_SOURCE_SYSTEM: CFT
    HMI_DESTINATION_SYSTEM: SNL
    FH_BASE_URL: http://ccd-test-stubs-service-aat.service.core-compute-aat.internal
    FH_GET_TOKEN_URL: /oauth2/token
  postgresql:
    enabled: true
  secrets:
    HMC_SERVICE_BUS_CONNECTION_STRING:
      secretRef: hmc-sb-preview
      key: connectionString
    HMC_QUEUE_CONNECTION_STRING:
      secretRef: hmc-sb-preview
      key: connectionString
    HMC_OUTBOUND_QUEUE_CONNECTION_STRING:
      secretRef: hmc-sb-preview
      key: connectionString
  keyVaults:
    hmc:
      resourceGroup: hmc-aso-preview-rg
      secrets:
        - name: AppInsightsInstrumentationKey
        - name: app-insights-connection-string
          alias: app-insights-connection-string
        - name: hmc-cft-hearing-service-s2s-secret
          alias: IDAM_KEY_CFT_HEARING_SERVICE

servicebus:
  enabled: true
  teamName: CCD
  resourceGroup: hmc-aso-preview-rg
  sbNamespace: hmc-sb-preview
  setup:
    topics:
      - name: hmc-to-cft
    subscriptions:
      - name: hmc-subs-to-cft
    queues:
      - name: hmc-from-hmi
      - name: hmc-to-hmi
