nodejs:
  devmemoryLimits: 576Mi
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    PORTAL_URL: https://pre-portal-pr-${CHANGE_ID}.dev.platform.hmcts.net
    API_URL: https://sds-api-mgmt.staging.platform.hmcts.net/pre-api
    ALLOW_CONFIG_MUTATIONS: true
    B2C_APP_CLIENT_ID: d20a7462-f222-46b8-a363-d2e30eb274eb
    B2C_BASE_URL: https://hmctsstgextid.b2clogin.com/hmctsstgextid.onmicrosoft.com/v2.0/.well-known/openid-configuration?p=B2C_1A_SignUpOrSignin
    B2C_END_SESSION_ENDPOINT: https://hmctsstgextid.b2clogin.com/hmctsstgextid.onmicrosoft.com/oauth2/v2.0/logout?p=b2c_1a_signuporsignin
    # Uncomment to enable dynatrace RUM in dev envs
    #DYNATRACE_JSTAG: https://js-cdn.dynatrace.com/jstag/17177a07246/bf24054dsx/636bef1033a59525_complete.js
