nodejs:
  applicationPort: 4551
  aadIdentityName: pre
  ingressHost: pre-portal.{{ .Values.global.environment }}.platform.hmcts.net
  image: 'sdshmctspublic.azurecr.io/pre/portal:latest'
  keyVaults:
    pre-hmctskv:
      secrets:
        - redis6-access-key
        - app-insights-connection-string
        - apim-sub-portal-primary-key
        - apim-sub-portal-secondary-key
        - pre-portal-sso
        - b2c-test-login-email
        - b2c-test-login-password
        - media-kind-player-key
        - b2c-test-super-user-email
        - b2c-test-super-user-password
        - dev-pre-portal-sso
        - pre-portal-x-user-id
  environment:
    REDIS_HOST: pre-portal-{{ .Values.global.environment }}.redis.cache.windows.net
    PRE_API_URL: https://sds-api-mgmt.staging.platform.hmcts.net/pre-api
    PORTAL_URL: https://pre-portal.platform.hmcts.net
    B2C_APP_CLIENT_ID: c8deb898-d595-4fb2-8ba5-52fffa8db064
    B2C_BASE_URL: https://hmcts{{ .Values.global.environment }}extid.b2clogin.com/hmcts{{ .Values.global.environment }}extid.onmicrosoft.com/v2.0/.well-known/openid-configuration?p=B2C_1A_SignUpOrSignin
    B2C_END_SESSION_ENDPOINT: https://hmcts{{ .Values.global.environment }}extid.b2clogin.com/hmcts{{ .Values.global.environment }}extid.onmicrosoft.com/oauth2/v2.0/logout?p=b2c_1a_signuporsignin
    USE_DEV_B2C: false
