java:
  applicationPort: 8585
  ingressHost: reform-scan-notification-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  aadIdentityName: reform-scan
  readinessPath: '/health/readiness'
  keyVaults:
    "reform-scan":
      secrets:
        - name: app-insights-instrumentation-key
          alias: azure.application-insights.instrumentation-key
        - name: error-notifications-password
          alias: clients.error-notifications.password
        - name: error-notifications-url
          alias: clients.error-notifications.url
        - name:  error-notifications-username
          alias: clients.error-notifications.username
        - name: notification-service-POSTGRES-PASS
          alias: DB_PASSWORD
        - name: notification-service-POSTGRES-USER
          alias: DB_USER
        - name: notification-service-POSTGRES-HOST
          alias: DB_HOST
        - name: notification-service-POSTGRES-PORT
          alias: DB_PORT
        - name: notification-service-POSTGRES-DATABASE
          alias: DB_NAME
        - name:  notification-queue-listen-shared-access-key-premium
          alias: QUEUE_READ_ACCESS_KEY
        - name: app-insights-connection-string
          alias: app-insights-connection-string
        - name: launch-darkly-sdk-key
          alias: LAUNCH_DARKLY_SDK_KEY
        - name: launch-darkly-offline-mode
          alias: LAUNCH_DARKLY_OFFLINE_MODE
  environment:
    DB_CONN_OPTIONS: ?sslmode=require
    FLYWAY_SKIP_MIGRATIONS: true
    QUEUE_ACCESS_KEY_LISTEN_NAME: "ListenSharedAccessKey"
    QUEUE_NAME: "notifications"
    QUEUE_NAMESPACE: reform-scan-servicebus-{{ .Values.global.environment }}-premium
    QUEUE_NOTIFICATIONS_MAX_RETRY: 5
    S2S_URL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    NOTIFICATIONS_CONSUME_TASK_CHECK_DELAY_IN_MS: "3600000"
    NOTIFICATIONS_CONSUME_TASK_ENABLED: true
    PENDING_NOTIFICATIONS_TASK_DELAY_IN_MS: 4000
    PENDING_NOTIFICATIONS_TASK_ENABLED: true
    PENDING_NOTIFICATIONS_SEND_DELAY_IN_MINUTE: 120
    JMS_ENABLED: false
  image: 'hmctspublic.azurecr.io/reform-scan/notification-service:latest'
servicebus:
  enabled: false
