job:
  image: 'hmctspublic.azurecr.io/sscs/cron-trigger:latest'
  aadIdentityName: sscs
  keyVaults:
      sscs:
        secrets:
          - name: idam-oauth-user
            alias: IDAM_OAUTH2_CLIENT_ID
          - name: idam-redirect
            alias: IDAM_OAUTH2_REDIRECT_URL
          - name: idam-sscs-systemupdate-user
            alias: IDAM_SSCS_SYSTEMUPDATE_USER
          - name: idam-sscs-systemupdate-password
            alias: IDAM_SSCS_SYSTEMUPDATE_PASSWORD
          - name: idam-sscs-oauth2-client-secret
            alias: IDAM_OAUTH2_CLIENT_SECRET
          - name: sscs-s2s-secret
            alias: IDAM_S2S_AUTH_TOTP_SECRET
          - name: s2s-micro
            alias: IDAM_S2S_AUTH_MICROSERVICE
          - name: app-insights-connection-string
            alias: app-insights-connection-string
  schedule: "0 1 * * *"
  global:
    jobKind: CronJob
