java:
  ingressHost: pip-data-management.{{ .Values.global.environment }}.platform.hmcts.net
  applicationPort: 8090
  image: 'sdshmctspublic.azurecr.io/pip/data-management:latest'
  keyVaults:
    pip-ss-kv:
      excludeEnvironmentSuffix: false
      resourceGroup: pip-ss-{{ .Values.global.environment }}-rg
      secrets:
        - name: shared-storageaccount-name
          alias: STORAGE_ACCOUNT_NAME
        - name: data-management-POSTGRES-DATABASE
          alias: DB_NAME
        - name: data-management-POSTGRES-PASS
          alias: DB_PASS
        - name: data-management-POSTGRES-PORT
          alias: DB_PORT
        - name: data-management-POSTGRES-USER
          alias: DB_USER
        - name: data-management-POSTGRES-HOST
          alias: DB_HOST
        - name: app-pip-data-management-id
          alias: CLIENT_ID
        - name: app-pip-data-management-pwd
          alias: CLIENT_SECRET
        - name: app-tenant-id
          alias: TENANT_ID
        - name: app-pip-data-management-scope
          alias: APP_URI
        - name: app-pip-subscription-management-scope
          alias: SUBSCRIPTION_MANAGEMENT_AZ_API
        - name: app-pip-account-management-scope
          alias: ACCOUNT_MANAGEMENT_AZ_API
        - name: app-pip-publication-services-scope
          alias: PUBLICATION_SERVICES_AZ_API
        - name: app-insights-java-connection-string
          alias: APP_INSIGHTS_CONNECTION_STRING
  environment:
    ENABLE_FLYWAY: true
    RUN_DB_MIGRATION_ON_STARTUP: false
    ENABLE_TESTING_SUPPORT_API: false
  autoscaling:
    enabled: false #To be enabled as part of PUB-1692
