  nodejs:
    applicationPort: 1337
    aadIdentityName: em
    ingressHost: em-showcase.{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    image: "hmctspublic.azurecr.io/em/showcase:latest"
    keyVaults:
      em-showcase:
        resourceGroup: em-showcase
        secrets:
          - show-oauth2-token
          - microservicekey-em-gw
    environment:
      REFORM_ENVIRONMENT: "{{ .Values.global.environment }}"
      DOCASSEMBLY_URL: "http://dg-docassembly-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
      DM_STORE_APP_URL: "http://dm-store-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
      ANNOTATION_API_URL: "http://em-anno-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
      ICP_API_URL: "https://em-icp-{{ .Values.global.environment }}.platform.hmcts.net"
      IDAM_URL: "https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net"
      S2S_URL: "http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
      NPA_URL: "http://em-npa-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
      REDIRECT_URL: "https://em-show-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/oauth2/callback"
    spotInstances:
      enabled: true
