base:
  applicationPort: 3000
  image: 'hmctspublic.azurecr.io/help-with-fees/benefit-checker-api:latest'
  ingressHost: "hwf-benefit-checker-api.{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
  aadIdentityName: help-with-fees
  environment:
    SECRETS_PATH: "/mnt/secrets/help-with-fees"
    SERVICE_NOW_EMAIL: "DCD-HWFSupportServiceDeskPPE@HMCTS.NET"
    RAILS_ENV: "production"
    RACK_ENV: "production"
    WEB_CONCURRENCY: 1
    API_XMLNS: "https://lsc.gov.uk/benefitchecker/service/1.0/API_1.0_Check"
    API_HOST: "https://laa-benefit-checker.service.justice.gov.uk"
    API_PATH: "lsx/lsc-services/benefitChecker"
    SENTRY_DSN: "https://a8b3d249cbc9ee8d6bd7efe7b515aec4@o345774.ingest.us.sentry.io/4510307659022336"
  keyVaults:
    help-with-fees:
      secrets:
        - name: hwf-benefit-checker-api-org-id
          alias: API_ORG_ID
        - name: hwf-benefit-checker-api-user-id
          alias: API_USER_ID
        - name: hwf-benefit-checker-api-service-name
          alias: API_SERVICE_NAME
        - name: hwf-app-insights-instrumentation-key
          alias: AZURE_APP_INSIGHTS_INSTRUMENTATION_KEY