nodejs:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    ALLOW_CONFIG_MUTATIONS: ''
    TESTVAR: 'Devtestvalue'
    LOG_LEVEL: 'DEBUG'
    NODE_ENV: 'dev'
  secrets:
    COURTFINES_DB_PASSWORD:
      secretRef: 'postgres'
      key: PASSWORD
      disabled: false
    EPDQ_SHAIN:
      secretRef: 'epdq'
      key: EPDQ_SHAIN
      disabled: false
