nodejs:
  applicationPort: 3100
  aadIdentityName: courtfines
  ingressHost: courtfines.justice.gov.uk
  image: 'sdshmctspublic.azurecr.io/courtfines/app:latest'
  keyVaults:
    courtfines:
      secrets:
        - app-EPDQ-SHAIN
        - app-SESSION-SECRET
        - app-POSTGRES-USER
        - app-POSTGRES-PASS
        - app-POSTGRES-HOST
        - app-POSTGRES-PORT
        - app-POSTGRES-DATABASE
        - app-insights-connection-string
  environment:
    ALLOW_CONFIG_MUTATIONS: true
    NODE_ENV: 'production'
    TESTVAR: 'testvalue'
    LOG_LEVEL: 'DEBUG'
