java:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  devmemoryLimits: "3Gi"
  environment:
    env_name: 'DEV'
    POSTGRES_USER: "hmcts"
    POSTGRES_HOST: "appreg-dev.postgres.database.azure.com"
    POSTGRES_PORT: 5432
    POSTGRES_DATABASE: postgres
    azure-tenant-id: "temp_tenant_id"
    azure-audience-id: "temp_aud"
    JAVA_TOOL_OPTIONS: '-XX:InitialRAMPercentage=50 -XX:MaxRAMPercentage=75 -Xlog:gc* -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/tmp/heap.hprof'
  secrets:
    POSTGRES_PASS:
      secretRef: "postgres"
      key: PASSWORD
      disabled: false
