nodejs:
  image: hmctspublic.azurecr.io/probate/caveats-fe:latest
  applicationPort: 3000
  memoryRequests: "512Mi"
  cpuRequests: "100m"
  memoryLimits: "1024Mi"
  cpuLimits: "500"
  aadIdentityName: probate
  environment:
    PUBLIC_PROTOCOL: https
    USE_HTTPS: false
    REFORM_ENVIRONMENT: prod
    USE_REDIS: true
    REDIS_USE_TLS: true
    REDIS_PORT: 6380
    REDIS_HOST: probate-caveats-fe-redis-cache-{{ .Values.global.environment }}.redis.cache.windows.net
    FEES_REGISTRY_URL: http://fees-register-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/fees-register
    IDAM_API_URL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
    IDAM_S2S_URL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    PAYMENT_CREATE_URL: http://payment-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/card-payments
    ORCHESTRATION_SERVICE_URL: http://probate-orchestrator-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    APP_BASE_PATH: "/caveats"
    POSTCODE_SERVICE_PATH: "/caveats/find-address"
    PAY_RETURN_URL: "/caveats/payment-status"
    CAVEAT_REDIRECT_BASE_URL: http://probate-caveats-fe-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  keyVaults:
    probate:
      secrets:
        - caveats-fe-redis-access-key
        - idam-s2s-secret
        - ccidam-idam-api-secrets-probate
        - postcode-service-url
        - postcode-service-token2
        - probate-survey
        - probate-survey-end
        - probate-application-fee-code
        - probate-service-id
        - probate-site-id
        - caveat-user-name
        - caveat-user-password
        - probate-webchat-id
        - probate-webchat-tenant
        - probate-webchat-button-no-agents
        - probate-webchat-button-busy
        - probate-webchat-button-service-closed
        - AppInsightsInstrumentationKey
        - launchdarkly-key
        - pcq-token-key
redis:
  cluster:
    enabled: false
    slaveCount: 0
  usePassword: false
  master:
    persistence:
      enabled: false
  enabled: false
idam-pr:
  enabled: false
