nodejs:
  image: hmctspublic.azurecr.io/probate/caveats-fe:latest
  applicationPort: 3000
  cpuLimits: 500m
  cpuRequests: 100m
  autoscaling:        # Default is false
    enabled: true
    maxReplicas: 5    # Required setting
    targetCPUUtilizationPercentage: 80 # Default is 80% target CPU utilization
  aadIdentityName: probate
  environment:
    NODE_ENV: "production"
    NODE_PATH: "."
    PUBLIC_PROTOCOL: https
    USE_HTTPS: false
    REFORM_ENVIRONMENT: prod
    USE_REDIS: true
    REDIS_USE_TLS: true
    REDIS_PORT: 6380
    REDIS_HOST: probate-caveats-fe-redis-cache-{{ .Values.global.environment }}.redis.cache.windows.net
    FEES_REGISTRY_URL: http://fees-register-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/fees-register
    IDAM_API_URL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
    IDAM_S2S_URL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    PAYMENT_CREATE_URL: http://payment-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/card-payments
    ORCHESTRATION_SERVICE_URL: http://probate-orchestrator-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    APP_BASE_PATH: "/caveats"
    POSTCODE_SERVICE_PATH: "/caveats/find-address"
    PAY_RETURN_URL: "/caveats/payment-status"
    CAVEAT_REDIRECT_BASE_URL: http://probate-caveats-fe-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  keyVaults:
    probate:
      resourceGroup: probate
      secrets:
        - name: caveats-fe-redis-access-key
          alias: caveats-fe-redis-access-key
        - name: idam-s2s-secret
          alias: idam-s2s-secret
        - name: ccidam-idam-api-secrets-probate
          alias: ccidam-idam-api-secrets-probate
        - name: postcode-service-url
          alias: postcode-service-url
        - name: postcode-service-token2
          alias: postcode-service-token2
        - name: probate-survey
          alias: probate-survey
        - name: probate-survey-end
          alias: probate-survey-end
        - name: probate-service-id
          alias: probate-service-id
        - name: probate-site-id
          alias: probate-site-id
        - name: caveat-user-name
          alias: caveat-user-name
        - name: caveat-user-password
          alias: caveat-user-password
        - name: app-insights-connection-string
          alias: app-insights-connection-string
        - name: launchdarkly-key
          alias: launchdarkly-key
        - name: launchdarklyUserkeyCaveatFrontend
          alias: launchdarklyUserkeyCaveatFrontend
        - name: pcq-token-key
          alias: pcq-token-key
        - name: webchat-kerv-deployment-en
          alias: webchat-kerv-deployment-en
        - name: webchat-kerv-deployment-cy
          alias: webchat-kerv-deployment-cy
        - name: webchat-kerv-genesys-base-url
          alias: webchat-kerv-genesys-base-url
        - name: webchat-kerv-environment
          alias: webchat-kerv-environment
        - name: webchat-kerv-kerv-base-url
          alias: webchat-kerv-kerv-base-url
        - name: webchat-kerv-api-key
          alias: webchat-kerv-api-key
redis:
  enabled: false
  architecture: standalone
  image:
    registry: hmctspublic.azurecr.io
    repository: imported/bitnami/redis
  master:
    persistence:
      enabled: false
  auth:
    enabled: false
idam-pr:
  enabled: false
