nodejs:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_NAME}.preview.platform.hmcts.net
  autoscaling:
    enabled: false
  environment:
    REDIS_USE_TLS: false
    REDIS_HOST: ${SERVICE_NAME}-redis-master
    REDIS_PORT: 6379
    LAUNCHDARKLY_ENABLED: false
    EQUALITY_URL: https://pcq.aat.platform.hmcts.net
  keyVaults:
    probate:
      resourceGroup: probate
      secrets:
        - name: caveats-fe-redis-access-key
          alias: caveats-fe-redis-access-key
        - name: idam-s2s-secret
          alias: idam-s2s-secret
        - name: ccidam-idam-api-secrets-probate
          alias: ccidam-idam-api-secrets-probate
        - name: postcode-service-url
          alias: postcode-service-url
        - name: postcode-service-token2
          alias: postcode-service-token2
        - name: probate-survey
          alias: probate-survey
        - name: probate-survey-end
          alias: probate-survey-end
        - name: probate-service-id
          alias: probate-service-id
        - name: probate-site-id
          alias: probate-site-id
        - name: caveat-user-name
          alias: caveat-user-name
        - name: caveat-user-password
          alias: caveat-user-password
        - name: app-insights-connection-string
          alias: app-insights-connection-string
        - name: launchdarkly-key
          alias: launchdarkly-key
        - name: launchdarklyUserkeyCaveatFrontend
          alias: launchdarklyUserkeyCaveatFrontend
        - name: pcq-token-key
          alias: pcq-token-key
        - name: webchat-kerv-deployment-en
          alias: webchat-kerv-deployment-en
        - name: webchat-kerv-deployment-cy
          alias: webchat-kerv-deployment-cy
        - name: webchat-kerv-genesys-base-url
          alias: webchat-kerv-genesys-base-url
        - name: webchat-kerv-environment
          alias: webchat-kerv-environment
        - name: webchat-kerv-kerv-base-url
          alias: webchat-kerv-kerv-base-url
        - name: webchat-kerv-api-key
          alias: webchat-kerv-api-key

idam-pr:
  enabled: true
  redirect_uris:
    Probate:
      - https://${SERVICE_FQDN}/oauth2/callback

redis:
  enabled: true
  serviceAccount:
    create: false
    name: "probate"
    automountServiceAccountToken: true

global:
  security:
    allowInsecureImages: true
