java:
  memoryRequests: "1024Mi"
  cpuRequests: "500m"
  memoryLimits: "2048Mi"
  cpuLimits: "1500m"
  applicationPort: 4550
  image: 'hmctspublic.azurecr.io/lau/case-backend:latest'
  ingressHost: lau-case-backend-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  aadIdentityName: lau
  spotInstances:
    enabled: true
  environment:
    LAU_DB_NAME: lau_case
    LAU_DB_HOST: lau-case-backend-flexible-{{ .Values.global.environment }}.postgres.database.azure.com
    LAU_DB_PORT: "5432"
    FLYWAY_URL: jdbc:postgresql://lau-case-backend-flexible-{{ .Values.global.environment }}.postgres.database.azure.com:5432/lau_case?sslmode=require
    FLYWAY_USER: lauadmin
    FLYWAY_NOOP_STRATEGY: "false"
    LAU_DB_CONN_OPTIONS: "?sslmode=require"
    S2S_URL: "http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
    IDAM_API_URL: "https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net"
    IDAM_CLIENT_REDIRECT_URI: "https://lau-case-backend-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/oauth2/callback"
    IDAM_CLIENT_NAME: 'lau'
    DB_ALLOW_DELETE_RECORD: "false"
    LAU_FLYWAY_MIGRATE_DB: "false" # should stay false as long as enableDbMigration('lau') is executed in Jenkinsfile_CNP
  keyVaults:
    lau:
      resourceGroup: lau
      secrets:
        - name: app-insights-connection-string
          alias: app-insights-connection-string
        - name: case-backend-POSTGRES-PASS
          alias: LAU_DB_ADMIN_PASSWORD
        - name: case-backend-POSTGRES-USER
          alias: LAU_DB_ADMIN_USERNAME
        - name: case-backend-app-db-password
          alias: LAU_DB_PASSWORD
        - name: case-backend-app-db-user-flexible
          alias: LAU_DB_USERNAME
        - name: flyway-password
          alias: flyway.password
        - name: idam-client-secret
          alias: IDAM_CLIENT_SECRET
        - name: backend-encryption-key
          alias: ACCESS_REQUEST_ENCRYPTION_KEY
