java:
  postgresql:
    postgresqlUsername: emannotationapp
    postgresqlPassword: emannotationapp
    nameOverride: em-anno-db
  image: 'hmctspublic.azurecr.io/em/anno:latest'
  applicationPort: 8080
  ingressHost: em-anno-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  aadIdentityName: em
  keyVaults:
    em-anno:
      secrets:
        - name: microservicekey-em-annotation-app
          alias: S2S_KEY
        - name: AppInsightsInstrumentationKey
          alias: APPINSIGHTS_INSTRUMENTATIONKEY
        - name: anno-POSTGRES-PASS
          alias: SPRING_DATASOURCE_PASSWORD
  environment:
    SPRING_DATASOURCE_URL: jdbc:postgresql://em-anno-postgres-db-v11-{{ .Values.global.environment }}.postgres.database.azure.com:5432/annotation?sslmode=require
    SPRING_DATASOURCE_USERNAME: annotation@em-anno-postgres-db-v11-{{ .Values.global.environment }}
    RUN_DB_MIGRATION_ON_STARTUP: false
    IDAM_API_BASE_URI: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
    OPEN_ID_API_BASE_URI: https://idam-web-public.{{ .Values.global.environment }}.platform.hmcts.net/o
    OIDC_ISSUER_BASE_URI: https://forgerock-am.service.core-compute-idam-{{ .Values.global.environment }}.internal:8443/openam/oauth2/hmcts
    S2S_BASE_URI: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    DM_STORE_APP_URL: http://dm-store-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    IDAM_S2S_AUTH_URL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal

    REFORM_SERVICE_NAME: rpa-em-annotation-api
    REFORM_TEAM: rpa-em-annotation-api
    JSON_CONSOLE_PRETTY_PRINT: false
    LOG_OUTPUT: single
    ROOT_LOGGING_LEVEL: INFO
    LOG_LEVEL_SPRING_WEB: INFO
    LOG_LEVEL_DM: INFO
    SHOW_SQL: false
    ENDPOINTS_HEALTH_SENSITIVE: false
    ENDPOINTS_INFO_SENSITIVE: false
    ENABLE_IDAM_HEALTH_CHECK: false
    ENABLE_S2S_HEALTH_CHECK: false
    ENABLE_METADATA_ENDPOINT: false
    SERVER_PORT: 8080

